#doc {
	text-align:center;
}

.box {
	transition-duration:1s;
}

.box:hover{
	padding: 0.0em 0.0em;
	margin: 0em 0;
	background: #d6ebff;
	box-shadow: 0px 0px 0px 10px #d6ebff;
	border: dashed 2px white;
}

img {
	transition-duration:1s;
	height: 65vw;
	width: auto;
	transform: translateX(-6vw);
}
nav img {
	height: 30vw;
	width: auto;
	transform: translateX(0vw);
}
