.hand {
	background: #f5deb3;
	width: 100vw;
	text-align: light;
	border: 1px solid #cccccc;
	margin: 20px auto;
}

.number {
	font-size: 10vw;
}

.staque {
	height: 70vw;
}

.staque input {
	display: none;
}

.staque input+#stack {
	position: relative;
	float: left;
	width: 100vw;
	background-color:#00ff00;
	transition-duration:1s;
}

.staque input:checked+#stack { 
	background-color:#ff00FF;
	transform: translateX(-100vw);
}

.staque #queue {
	background-color:#00ff00;
}
.staque input+#queue{
	position: absolute;
	float: left;
	width: 100vw;
	left:100vw;
	background-color:#00ff00;
	transition-duration:1s;
}

.staque input:checked+#queue { 
	background-color:#ff00FF;
	transform: translateX(-100vw);
}
