#queue {
	text-align : center
}

img {
	height: 15vw;
	width: auto;
}
button {
	font-size : 5vw;
}

div.Link{
    display: flex;
    justify-content: space-between;
}


a.toStack:hover{
    background: navy;
    text-decoration: inherit;
}
a.toStack:hover:after{
    border-right: 5px solid navy;
    border-top: 5px solid navy;
}

a.toStack{
    transition: background 0.3s;
    margin:40px 40px 5px 40px;
    font-size: 27px;
	position:relative;
	display:inline-block;
	padding:5px 40px 5px 20px;
	color:#fff;
	text-decoration:none;
	height:30px;
	line-height:30px;
	border-radius:18px;
	background: #62A1CB;
}
a.toStack:before,
a.toStack:after{
	content:"";
	display:block;
	position:absolute;
}
a.toStack:before{
	width:25px;
	height:25px;
	background:#fff;
	border-radius:50%;
	right:8px;
	top:6.5px;
}
a.toStack:after{
	width:7px;
	height:7px;
	border-right:5px solid #62A1CB;
	border-top:5px solid #62A1CB;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	right:15px;
	top:14px;
    transition: border-right 0.3s, border-top 0.3s;
}

a.toQueue{
    margin:40px 40px 5px 40px;
    font-size: 27px;
	position:relative;
	display:inline-block;
	padding:5px 20px 5px 40px;
	color:#fff;
	text-decoration:none;
	height:30px;
	line-height:30px;
	border-radius:18px;
	background: lightgray;
}
a.toQueue:before,
a.toQueue:after{
	content:"";
	display:block;
	position:absolute;
}
a.toQueue:before{
	width:25px;
	height:25px;
	background:#fff;
	border-radius:50%;
	left:8px;
	top:6.5px;
}
a.toQueue:after{
	width:7px;
	height:7px;
	border-right:5px solid lightgray;
	border-top:5px solid lightgray;
	-webkit-transform:rotate(225deg);
	transform:rotate(225deg);
	left:16px;
	top:14px;
}
